{% load bootstrap3 %}

<div id="{{config.modal_id}}" class="modal fade {{config.modal_class}}" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          {% if config.title %}
            <h4 class="modal-title text-center">{{config.title}}</h4>
          {% endif %}
        </div>
      <div class="modal-body">
        <form class="{{ config.form_class }}">
            {% include 'app/partials/select/select.html' with config=add_recipe_select_ingredient %}
        </form>
        <div class="total-nutrients">
          <div class="ingrediens-section">
            <div class="modal-section">
              Ingredients for this recipe:
            </div>

            <div class="modal-section-content center-block">
              <div class="ingredients-data row">
                <div class="col-xs-4 text-center">
                  <div class="recipe-ingredient-title">Egg</div>
                </div>
                <div class="col-xs-4 text-center">
                  <div class="recipe-ingredient-value">1488 g</div>
                </div>
                <div class="col-xs-4 text-center">
                  <span class="glyphicon glyphicon-remove icon-remove" data-tooltip="tooltip" title="Remove"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="nutrients-section">
            <div class="modal-section">
              Total nutrients for this recipe:
            </div>
            <div class="modal-section-content center-block">
              <div class="progress-data row">
                <div class="col-xs-3">
                  <div class="progress-title text-center">Kcals</div>
                </div>
                <div class="col-xs-3 text-center">
                  <div class="progress-value">1488 g</div>
                </div>
                <div class="col-xs-5 center-block">
                  <div class="progress progress-nutrients">
                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                    </div>
                  </div>
                </div>
              </div>
              <div class="progress-data row">
                <div class="col-xs-3">
                  <div class="progress-title text-center">Proteins</div>
                </div>
                <div class="col-xs-3 text-center">
                  <div class="progress-value">1488 g</div>
                </div>
                <div class="col-xs-5 center-block">
                  <div class="progress progress-nutrients">
                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                    </div>
                  </div>
                </div>
              </div>
              <div class="progress-data row">
                <div class="col-xs-3">
                  <div class="progress-title text-center">Carbs</div>
                </div>
                <div class="col-xs-3 text-center">
                  <div class="progress-value">1488 g</div>
                </div>
                <div class="col-xs-5 center-block">
                  <div class="progress progress-nutrients">
                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                    </div>
                  </div>
                </div>
              </div>
              <div class="progress-data row">
                <div class="col-xs-3">
                  <div class="progress-title text-center">Fats</div>
                </div>
                <div class="col-xs-3 text-center">
                  <div class="progress-value">1488 g</div>
                </div>
                <div class="col-xs-5 center-block">
                  <div class="progress progress-nutrients">
                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="500" aria-valuemin="0" aria-valuemax="1000" style="width:30%">
                    </div>
                  </div>
                </div>
              </div>
              <div class="progress-data row">
                <div class="col-xs-3">
                  <div class="progress-title text-center">Fibers</div>
                </div>
                <div class="col-xs-3 text-center">
                  <div class="progress-value">1488 g</div>
                </div>
                <div class="col-xs-5 center-block">
                  <div class="progress progress-nutrients">
                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="{{ config.confirm_button_class }}">{{ config.confirm_button_text }}</button>
        <button type="button" class="{{ config.cancel_button_class }}" data-dismiss="modal">{{ config.cancel_button_text }}</button>
      </div>
    </div>
  </div>
</div>