<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Idealfoods</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if not request.user.is_anonymous %}
        <ul class="nav navbar-nav">
          {% if request.user.level == 'website_admin' or request.user.level == 'super_admin' %}
            <li class="selectible-nav-link"><a href="/ingredients/">Ingredients <span class="sr-only"></span></a></li>
          {% endif %}
          <li class="selectible-nav-link"><a href="/recipes/">Recipes</a></li>
          {% if request.user.level == 'super_admin' %}
            <li class="selectible-nav-link"><a href="/users/">Users</a></li>
          {% endif %}
        </ul>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Info</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout/">Log out</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="/login/">Log In</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>