<div class="container page-header">
  <h1 class="header-title">All ingredients <small class="header-subtitle">and their nutrients</small>
    <button type="button" class="btn btn-success btn-md pull-right" data-toggle="modal" data-target="#addIngredientModal">
      <span class="glyphicon glyphicon-plus btn-glyph"></span>
      Add ingredient
    </button>
  </h1>
</div>
<div class="app-table animated fadeIn">
  <div class="container table-head row vertical-align">
    <div class="table-col table-data-center col-sm-7">
      Ingredient
    </div>
    <div class="table-col table-data-center col-sm-1">
      KCalories
    </div>
    <div class="table-col table-data-center col-sm-1">
      Proteins
    </div>
    <div class="table-col table-data-center col-sm-1">
      Carbs
    </div>
    <div class="table-col table-data-center col-sm-1">
      Fats
    </div>
    <div class="table-col table-data-center col-sm-1">
      Fibers
    </div>
  </div>
  <div class="table-body">
    {% for ingredient in ingredients %}
      <div class="container table-row row vertical-align">
        <div class="table-col table-data-left col-sm-7 ">
          {{ ingredient.name }}
        </div>
        <div class="table-col table-data-center col-sm-1">
          {{ ingredient.nutrient.kcals }}
        </div>
        <div class="table-col table-data-center col-sm-1">
          {{ ingredient.nutrient.proteins}}
        </div>
        <div class="table-col table-data-center col-sm-1">
          {{ ingredient.nutrient.carbohydrates  }}
        </div>
        <div class="table-col table-data-center col-sm-1">
          {{ ingredient.nutrient.fats }}
        </div>
        <div class="table-col table-data-center col-sm-1">
          {{ ingredient.nutrient.fibers}}
        </div>
      </div>
    {% endfor %}
  </div>
</div>