<div class="app-table animated fadeIn">
  <div class="container table-head row vertical-align">
    <div class="table-col table-data-center col-sm-6">
      Ingredient
    </div>
    <div class="table-col table-data-center col-sm-1">
      KCalories
    </div>
    <div class="table-col table-data-center col-sm-1">
      Proteins
    </div>
    <div class="table-col table-data-center col-sm-1">
      Carbs
    </div>
    <div class="table-col table-data-center col-sm-1">
      Fats
    </div>
    <div class="table-col table-data-center col-sm-1">
      Fibers
    </div>
    <div class="table-col table-data-center col-sm-1">
      Actions
    </div>
  </div>
  <div class="table-body">
    {% for ingredient in ingredients %}
      <div class="container table-row row vertical-align">
        <div class="table-col table-data-left col-sm-6 ">
          {{ ingredient.name }}
        </div>
        <div class="table-col table-data-center col-sm-1">
          {{ ingredient.nutrient.kcals }}
        </div>
        <div class="table-col table-data-center col-sm-1">
          {{ ingredient.nutrient.proteins}}
        </div>
        <div class="table-col table-data-center col-sm-1">
          {{ ingredient.nutrient.carbohydrates  }}
        </div>
        <div class="table-col table-data-center col-sm-1">
          {{ ingredient.nutrient.fats }}
        </div>
        <div class="table-col table-data-center col-sm-1">
          {{ ingredient.nutrient.fibers}}
        </div>
        <div class="table-col table-data-center col-sm-1">
          {% include 'app/partials/_icon.html' with config=edit_icon_config %}
          {% include 'app/partials/_icon.html' with config=remove_icon_config %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>