{% extends "app/layout.html" %}

{% block head_content %}
  {{ block.super }}
  <link rel="stylesheet" href="../static/app/css/home.css">
{% endblock %}

{% block content %}
  {{ block.super }}
  {% include 'app/partials/carousel.html' %}
  <div class="animated bounceInLeft container">
    <div class="well well-lg home-main-input">
      <div class="row vertical-align">
        <div class="home-inputs vertical-align col-xs-12 col-sm-9">
          <div class="home-main-text col-xs-12 col-sm-3">
            <p>I want to eat between</p>
          </div>
          <div class="form-group col-xs-12 col-sm-3">
            <input type="text" class="form-control home-input-number-min">
          </div>
          <div class="home-main-text col-xs-12 col-sm-1 hyphen-sm-1">
            <p> - </p>
          </div>
          <div class="form-group col-xs-12 col-sm-3">
            <input type="text" class="form-control home-input-number-max">
          </div>
          <div class="home-main-text col-xs-12 col-sm-1">
            <p>calories.</p>
          </div>
        </div>
        <button type="button" class="btn btn-warning btn-lg col-xs-12 col-sm-3">
          Generate plan
          <span class="glyphicon glyphicon-chevron-right btn-glyph-after"></span>
        </button>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ block.super}}
{% endblock %}

