{% extends "app/layout.html" %}

{% block head_content %}
  {{ block.super }}
  <link rel="stylesheet" href="../static/app/css/common/table.css">
  <link rel="stylesheet" href="../static/app/css/common/accordion_table_xs.css">
  <link rel="stylesheet" href="../static/app/css/ingredients.css">
{% endblock %}

{% block content %}
  {{ block.super }}
  <div class="container page-header">
    <h1 class="header-title col-xs-10 col-sm-8">All ingredients <small class="header-subtitle hidden-xs hidden-sm">and their nutrients (per 100 grams)</small>
    </h1>
    <div class="header-button col-xs-2 col-sm-4">
      <button type="button" class="btn btn-success btn-md pull-right" data-toggle="modal" data-target="#addIngredientModal">
        <span class="glyphicon glyphicon-plus btn-glyph"></span>
        Add ingredient
      </button>
    </div>
  </div>
  {% include 'app/partials/table/table.html' with table_config=ingredients_table_config %}
  {% include 'app/partials/modal.html' with config=add_ingredient_modal_config %}
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="../static/app/js/common/accordion_table_xs.js"></script>
  <script src="../static/app/js/common/table.js"></script>
  <script src="../static/app/js/ingredients.js"></script>
{% endblock %}