html body {
  background-color: #F2F2F2;
}

.glyphicon.btn-glyph {
  margin-right: 10px;
}

.container.page-header {
  border-bottom: 1px solid #ccc;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.container.page-header .header-button{
  padding-right: 0px;
}

.container.page-header .header-title {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 0px;
}

.glyphicon.btn-glyph-after {
  margin-left: 5px;
  margin-top: -15px;
  font-weight: bolder;
}

.navbar.navbar-default {
  margin-bottom: 0px;
}

.btn.btn-success.app-success-gradient {
  background: #4fb840;
  background-color: linear-gradient(#4fb840, #14a000)
}

.modal-section {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #586069;
}

.center-block {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.select-wrapper {
  margin: 5px;
  padding: 3px;
}

.select-wrapper .select-title {
  font-weight: 700;
  margin-bottom: 5px;
}

.icon-remove,
.glyphicon-remove-circle {
  color: #E53935;
}

.icon-remove:hover,
.glyphicon-remove-circle:hover {
  color: #C62828;
  cursor: pointer;
}

.glyphicon-ok-circle {
  color: #4CAF50;
}

.glyphicon-ok-circle:hover {
  color: #388E3C;
  cursor: pointer;
}

.button-glyph {
  margin-right: 5px;
}