.detail-table .details-row {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  padding-top: 5px;
}

.detail-table .details-row:hover {
  background-color: #f0f0f0;
}

.detail-table .detail-data {
  font-size: 15px;
  font-weight: 400;
  color: #586069;
}

.detail-table .detail-name {
  font-size: 15px;
  font-weight: bolder;
}

.detail-table .table-title {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.detail-table {
  margin-bottom: 20px;
}