.app-table {
  margin-bottom: 50px;
}

.app-table .table-head {
  margin: 0 auto;
  font-size: 15px;
  font-weight: bolder;
}

.app-table .table-head .table-col:last-child {
  border-right: 1px solid #ccc;
}

.app-table .table-row,
.app-table .table-col,
.app-table .table-edit-row .form-control {
  margin: 0 auto;
  height: 30px;
  background-color: #fbfbfb;
}

.app-table .table-data-center {
  display:flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-flow: row;
  text-align: center;
}

.app-table .table-data-left {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
  flex-flow: row;
  text-align: center;
}

.app-table .table-info {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
  flex-flow: row;
  text-align: center;
}

.app-table .table-row,
.app-table .table-head {
  padding: 0px;
}

.app-table .table-head .table-col {
  border-top: 1px solid #ccc;
}

.app-table .table-body .table-col:last-child {
  border-right: 1px solid #ccc;
}

.app-table .table-col {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.app-table .table-head .table-col {
  background: rgb(234,234,234); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(239,239,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.app-table .icon-remove,
.app-table .glyphicon-remove-circle {
  color: #E53935;
}

.app-table .icon-remove:hover,
.app-table .glyphicon-remove-circle:hover {
  color: #C62828;
  cursor: pointer;
}

.app-table .icon-edit {
  color: #1E88E5;
}

.app-table .glyphicon-ok-circle {
  color: #4CAF50;
}

.app-table .glyphicon-ok-circle:hover {
  color: #388E3C;
  cursor: pointer;
}

.app-table .icon-details {
  color: #00695c;
}

.app-table .icon-details:hover {
  color: #00897b;
  cursor: pointer;
}

.app-table .icon-edit:hover {
  color: #1565C0;
  cursor: pointer;
}

.app-table .table-icon {
  padding: 0px;
  margin-left: 10px;
  font-size: 15px;
  text-align: center;
}

.app-table .table-row:hover > .table-col,
.app-table .table-row:hover .inner .table-col {
  background-color: #f2f2f2;
}

.app-table .table-edit-row {
  margin-bottom: 1px;
}

.app-table .table-edit-row .form-group {
  padding: 0px;
  text-align: center;
}

.app-table .table-edit-row .form-control {
  border-radius: 0px;
}

.app-table .extended-row {
  height: 60px;
  background-color: #F2F2F2;
}

.app-table .big-icon {
  font-size: 18px;
}

.app-table .table-edit-row .help-block {
  font-size: 10px;
  font-weight: bolder;
  margin-top: 0px;
}

.popover.table-edit-row-error-popover .popover-content .popover-error-text {
  color: #a94442;
  font-size: 10px;
  font-weight: bolder;
  max-width: 50px;
  max-height: 50px;
  text-align: center;
  vertical-align: middle;
}

.popover.table-edit-row-error-popover .popover-content {
  max-width: 90px;
  padding: 4px;
}